<a href="https://colab.research.google.com/github/Fahad035/Fahad035/blob/main/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### a)Operation of data types in Python.

In [1]:
x = 5
print(type(x))

x = str("Hello Fahad")
print(x)
print(type(x))

<class 'int'>
Hello Fahad
<class 'str'>

###b) Different Arithmetic operations on numbers in python.

In [2]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

sum = float(num1) + float(num2)
sub = float(num1) - float(num2)
mul = float(num1) * float(num2)
div = float(num1) / float(num2)

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

print('The subtraction of {0} and {1} is {2}'.format(num1, num2, sub))

print('The multiplication of {0} and {1} is {2}'.format(num1, num2, mul))

print ('The division of {0} and {1} is {2}'.format(num1, num2, div))

Enter first number: 234
Enter second number: 345
The sum of 234 and 345 is 579.0
The subtraction of 234 and 345 is -111.0
The multiplication of 234 and 345 is 80730.0
The division of 234 and 345 is 0.6782608695652174

###c) Create, concatenate and print a string and access substring from a given string.

In [3]:
x = "Python "
y= "is"
z = "awesome"
print(x + y + z)

Python isawesome

###d) Append, and remove lists in python

In [4]:
#append method
a= [25,"vinay",45,217]
a. append("rohit")
print(a)

#extend method
b=[2,45,101]
b.extend(["sunny","sandeep","shashanka"])
print(b)

#pop method for remove an element
d=[12,34,56,78,89,0]
d.pop()
print(d)

[25, 'vinay', 45, 217, 'rohit']
[2, 45, 101, 'sunny', 'sandeep', 'shashanka']
[12, 34, 56, 78, 89]

###e) Demonstrate working with tuples in python.

In [9]:
#empty tuple
t= ()
print(t)

tup = ('python','Java')
print(tup)

# concatenating 2 tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'GoEduhub')
print(tuple1 + tuple2)

#converting a list and a string into a tuple
list1 = [0, 1, 2]
print(tuple(list1))
print(tuple('python'))

#tuples in a loop
tup = ('h','e','l', 'l', 'o')
for i in tup:
   print(i)

()
('python', 'Java')
(0, 1, 2, 3, 'python', 'GoEduhub')
(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')
h
e
I
T
o

###f) Demonstrate working with dictionaries in python

In [12]:
#Create and print a dictionary :
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

print(thisdict)

#Dictionaries cannot have two items with the same key
#Duplicate values will overwrite existing values
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)
print(len(thisdict))

#Accessing Items
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = thisdict["model"]
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3
Mustang